@charset "UTF-8";            /*incluindo regra para acentuações*/

/* Estilo para Mobile */

:root{      /* declaração de variáveis*/ 
    --cor_0:  #fff;
    --cor_1:  #f1f1f1;
    --cor_2:  #999999;
    --cor_3:  #fcf4dc;
    --cor_4:  #9eb7d1;
    --cor_5:  #a6b3c4;
    --cor_6:  #8191a1;
    --cor_7:  #515c68;
    --cor_8:  #617080;
    --cor_9:  #2f373f;
    --cor_10: #dc143c;
    --cor_11: #222;
    --cor_12: #000000;
    --cor_13: #778899;
}

*{        /*configurações globais*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;         /* a borda faz parte da conta de largura da tela*/
}

main{
    background-color: var(--cor_3);
    align-content: center;
    
}

.sidebar {
    width: 200px;
    background-color: var(--cor_1);
    overflow: auto;
    float: left;
    height: calc(88vh - 65px); /* 100vh - header - footer */
    min-height:  250px;
}

.sidebar a {
    display: block;
    color: var(--cor_12);
    padding: 16px;
    text-decoration: none;
}
.sidebar a.active {
    background-color: var(--cor_7);
    color: var(--cor_0);
}
.sidebar a:hover:not(.active) {
    background-color: var(--cor_4);
    color: var(--cor_0);
}


.content {
    padding: 1px 16px;
    position: inherit;
    margin: auto;
    background-color: var(--cor_3);
    display: grid;
    overflow: auto;
    width: 40vw;
    height: 75vh;
    align-content: center;
    /* Quando a largura da tela for menor doque "min-widt", a box para de diminuir e aparece a barra de rolagem horizontal*/
    min-width: 280px;
    /* quando a largura da tela for maior que 760px (largura da imagem) a box main se mantém com tamanho fixo de 800px menos os 20px+20px de pad*/
    max-width: 410px;

    min-height:  240px;
    
}
.titleTop {
    position: relative;
    background-color: var(--cor_4);
    text-align: center;
    text-transform: uppercase;
    color: var(--cor_0);
    height: 100px;
    font-size: 3vw;            /* a fonte se adapta à largura da viewport*/
    padding: 25px;
}
.titleBottom {
    position: relative;
    max-height: 40px;
    text-align: center;
    margin: 10px auto;
    color: var(--cor_10);
}
.content .first {
    position: relative;
    margin: auto;
    background: var(--cor_3);
    padding: 40px;
}
.content .second {
    position: relative;
    margin: auto;
    background: var(--cor_3);
    padding: 40px;
}

.Modal {
    position: absolute;
    display: none;
    left: 30%;
    top: 30%;
    max-width: 200px;
    background-color: var(--cor_3);
    border-radius: 10px;
    padding: 5px 5px;
    box-shadow: 0 25px 25px rgb(0 0 0 / 30%);    
}
.Modal .info {
    color: var(--cor_10);
    font-size: medium;
    padding-left: 10px;
    text-align: center;
}
.Modal .infoH {
    color: var(--cor_10);
    font-size: medium;
    text-transform: uppercase;
    padding-left: 10px;
    text-align: center;
}
.content .menu {
    position: relative;
    width: 30%;
    display: inline-block;
    border-radius: 10px;
}
.content .menuNews {
    position: relative;
    width: 30%;
    display: inline-block;
    border-radius: 10px;
    margin: auto;
}
.content .menu .imgStamp {
    position: relative;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
}
.content .menuNews .imgStampNews {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 40%;
    border: 3px dotted var(--cor_10);

}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: var(--cor_3);
    overflow: hidden;
    width: 100%;

    transition: .9s ease;
}
.menuNews:hover .overlay {
    bottom: 0;
    height: 100%;
}
.textImg {
    white-space: nowrap;
    color: var(--cor_10);
    font-size: medium;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.content .menu .modalButton {
    outline: none;
    background-color: var(--cor_10);
    color: var(--cor_0);
    width: 100%;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    padding: 7px 7px;
    box-shadow: 0 25px 25px rgb(0 0 0 / 30%);
    cursor: pointer
}
.topright {
    position: absolute;
    right: 5px;
    border-radius: 4px;
    padding: 2px;
    top: 0;
    background-color: var(--cor_10);
    color: var(--cor_0);
    cursor: pointer
}


form {
    text-align: left;
    min-width: 315px;
    /* quando a largura da tela for maior que 760px (largura da imagem) a box main se mantém com tamanho fixo de 800px menos os 20px+20px de pad*/
    max-width: 410px;

    min-height:  240px;
}

.form-submit {
    display: inline-block;
    background: var(--cor_7);
    color: var(--cor_0);
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin: 25px 25px 25px 15px;
    cursor: pointer
}
.form-submit:hover {
    background: var(--cor_6);
}
.form-group {
    position: relative;
    margin: 0px 0px 25px 15px;
    overflow: hidden;
    display: inline-flex;
}

label {
    color: var(--cor_13);
}
input {
    outline: none;
    width: 100%;
    display: block;
    color: var(--cor_9);
    font-size: 17px;
    border: none;
    border-bottom: 1px solid var(--cor_2);
    padding: 6px 30px;
    box-sizing: border-box
}
::placeholder {
    color: var(--cor_5);
    font-size: medium;
}
.label-agree-term {
    position: relative;
    top: 0%;
}
.agree-term {
    display: inline-block;
    width: auto
}
.term-service {
    font-size: 13px;
    color: var(--cor_11)
}
input[type=checkbox]+label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px;
}
p {
    margin-bottom: 0;
    font-size: 16px;
    color: var(--cor_8);
    text-align: center;
}

footer{
    background-color: var(--cor_10);
    padding: 10px;
    text-align: center;
    height: 40px;
    width: 100vw;
    clear: both;        /* caso tenha algum elemento flutuando à esquerda ou direita, limpa o contexto e fica a baixo dos elementos flutuantes*/
    position: fixed;        /* mantém o posicionamneto fixo na tela*/
    bottom: 0;
    display: block;
}

footer>p{
    color: var(--cor_0);
    font-size: 1.5em;
}